/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #353436;
}

/* Стили header */

.header {
  padding: 24px 0;
  position: relative;
}
.header-container {
  max-width: 1200px;
  margin: auto;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.header__img {
  width: 283px;
  object-fit: cover;
}
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.header__login {
  /* position: absolute;
  top: 7px;
  right: 40px; */
  transform: translateY(-18px);
  transition: 0.25s;
}
.header__login:hover {
  color: #e2d1a6;
}
.header__login-link {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
}
.header__login-icon {
  margin-left: 10px;
}
.header__links {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  margin-left: 27px;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.25s;
}
.header__link:first-child {
  margin-left: 0;
}
.header__link:hover {
  color: #e2d1a6;
}
.header-mobile {
  display: none;
}
.header__mobile-visible {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
}
.header__mobile-visible--active {
  display: block;
  background-color: #252425;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(37, 36, 37, 0.75);
  -moz-box-shadow: 0px 10px 10px 0px rgba(37, 36, 37, 0.75);
  box-shadow: 0px 10px 10px 0px rgba(37, 36, 37, 0.75);
  z-index: 200;
}
.header__button-mobile {
  display: flex;
  width: 24px;
  height: 24px;
  border: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 3px 0;
  cursor: pointer;
}
.header__line {
  width: 22px;
  height: 2px;
  background-color: #ffffff;
}
.header__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}

/* Стили мэйн */
.main {
  position: relative;
  overflow: hidden;
}

.main__content {
  padding-top: 251px;
  height: 100%;
  width: 100%;
  background-image: url(../img/background-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-container {
  width: 100%;
  height: 670px;
}

.swiper-pagination {
  bottom: 40px !important;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  background-color: #ffffff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #e2d1a6;
}

.main__block {
  padding: 18px 30px;
  margin-left: auto;
  max-width: 531px;
  background-color: #ffffff;
  opacity: 0.85;
  z-index: 10;
}

.main__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #020202;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: normal;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
}

.main__text {
  margin: 0;
  max-height: 200px;
  overflow: auto;
  padding-right: 30px;
  color: #000000;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}

.main__button {
  height: 28px;
  width: 82px;
  position: absolute;
  bottom: 0;
  left: 50%;
  border: none;
  transform: translateX(-41px);
  cursor: pointer;
  outline: none;
  z-index: 50;
  transition: 0.25s;
  background-color: #ffffff;
}

.main__button-active {
  transform: translate(-41px, -172px);
}

.main__arrow {
  height: 16px;
  width: 39px;
  margin: auto;
  text-align: center;
  background-image: url(../img/arrow-top.png);
  background-size: cover;
  background-position: center;
}

.main__arrow-active {
  background-image: url(../img/arrow-bottom.png);
}

.main__box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 172px);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  transition: 0.25s;
  z-index: 100;
}

.main__box-active {
  transform: translate(-50%, 0);
}

.main__box-info {
  position: relative;
  color: #000000;
  height: 172px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 44px 42px 15px;
  background-color: #e2d1a6;
  overflow: auto;
}

.main__box-info:nth-child(2) {
  background-color: #ffffff;
}

.main__box-info:nth-child(3) {
  background-color: #000000;
  color: #ffffff;
}

.main__box-title {
  margin: 0;
  font-family: 'Playfair Display';
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
}

.main__box-text {
  height: 50px;
  overflow: auto;
  margin: 0;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24.99px;
}

.main__box-link {
  position: absolute;
  bottom: 8px;
  right: 20px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24.99px;
}

.main__box-link:hover {
  color: #e2d1a6;
  text-decoration: underline;
}

.main__box-link--first:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Стили футер */

.footer {
  padding: 40px 0 18px 0;
}

/* Медиа запросы */

@media (max-width: 1700px) {
  .main__content {
    background-size: cover;
    background-position: center top;
  }
}
@media (max-width: 1350px) {
  .main__content {
    background-size: 125%;
    background-position: center 30%;
  }
}
@media (max-width: 1260px) {
  .header-container {
    max-width: 95%;
  }
  .main__box-info {
    width: 320px;
  }
  .main__box-title {
    font-size: 22px;
  }
  .main__box-text {
    font-size: 14px;
  }
  .main__box-link {
    font-size: 14px;
  }
}
@media (max-width: 1180px) {
  .main__content {
    background-size: auto;
    background-position: top;
  }
}
@media (max-width: 960px) {
  .main__block {
    max-width: 460px;
  }
  .main__title {
    font-size: 24px;
  }
  .main__text {
    font-size: 14px;
  }
  .main__box-info {
    width: 280px;
    padding-bottom: 40px;
    padding-right: 20px;
  }
  .main__box-title {
    font-size: 20px;
  }
}
@media (max-width: 868px) {
  .header__link {
    font-size: 14px;
  }
  .main__button-active {
    transform: translate(-41px, -220px);
  }
  .main__box {
    transform: translate(-50%, 220px);
  }
  .main__box-active {
    transform: translate(-50%, 0);
  }
  .main__box-info {
    width: 250px;
    height: 220px;
  }
  .main__box-text {
    height: 80px;
  }
}
@media (max-width: 782px) {
  .header__nav {
    display: none;
  }
  .header__login {
    transform: translateY(0);
  }
  .header__img {
    width: 220px;
  }
  .header-mobile {
    display: flex;
  }
  .header__button-mobile {
    margin-left: 20px;
  }
  .header__links {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__link {
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .header__link:first-child {
    margin-left: 15px;
  }
  .header__link:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .main__box {
    flex-direction: column;
    transform: translate(-50%, 420px);
  }
  .main__box-info {
    width: 490px;
    height: 140px;
  }
  .main__button-active {
    transform: translate(-41px, -420px);
  }
  .main__box-active {
    transform: translate(-50%, 0);
  }
}
@media (max-width: 500px) {
  .header__img {
    width: 180px;
  }
  .header-mobile {
    height: 65px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .header__button-mobile {
    order: -1;
  }
  .header__login-link {
    font-size: 12px;
  }
  .main__block {
    max-width: 320px;
    padding: 18px 20px;
  }
  .main__box {
    left: 10px;
    right: 10px;
    transform: translate(0, 420px);
  }
  .main__box-active {
    transform: translate(0, 0);
  }
  .main__title {
    font-size: 18px;
  }
  .main__box-info {
    width: 99%;
    height: 140px;
  }
}
